    .head h1::after{
        content:"";
        position: absolute;
        bottom:-7px;
        left: 0;
        width: 100px;
        height: 3px;
        background-color: #4400ffee;
    }

    .head h1{
        position: relative;
        margin-bottom:20px;
    }

    .head-bottom img{
        padding:0;
        width: 100%;
        height: 100px;
        margin-left:0;
        object-fit: contain;
        -webkit-filter: grayscale(100%);
        filter : grayscale(100%);
    }

    .border:hover{
        background-color:#f6f9fc;
    }

    .border:hover img{
        -webkit-filter: grayscale(0%);
        filter : grayscale(0%);

    }

    .banner-img img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .banner-img{
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:#3763eb;
        color: #111;
        width:180px;
        border-radius:30%;
    }
    .banner-img h6{
        font-size:15px;
        margin-left:5px ;
        color: #fff;

    }


     .footer{
        background:#081828!important;
     }
     
     .footer-bottom{
        border-top: 1px solid #111;
        text-align: center;
        padding: 10px 0;
     }
     /* .footer-bottom a{
        text-decoration: none;
        color: #fff;
     } */
     .footer-bottom h4{
        color: #767676;
     }


     .links h2{
        border-left: 1px solid #3763eb;
        padding:15px;
     }
     .links ul{
        list-style: none;
     }
     .links li a{
        text-decoration: none;
        padding:20px 0 ;
        font-size: 20px;
        color:#fff ;
        transition: .3s;
     }
     .links a:hover{
        letter-spacing:1px;
        color: darkred;
     }

     .list ul{
        list-style: none;
     }
     .list ul li a{
        text-decoration: none;
        color: #fdebeb;
        margin-left:20px ;
        font-size: 20px;
     
     }